{% load static %}
<nav class="navbar nav-bar navbar-expand-lg navbar-light">

  <a class="navbar-brand" href="{% url 'school:index' %}"><img src="{% static 'site-logo/Smartly logoyu.png' %}" alt="Site logo"></a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    

    <ul class="navbar-nav ml-auto">
      {% if request.user.is_authenticated %}

      <li class="nav-item">
          {% include 'feed/post_search_form.html' with form=form btn_title='Search' %}
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if request.user.image.url %}<img src="{{ request.user.image.url }}" alt="Profile image of {{ request.user.username }}" class="avatar-xs"> {% endif %} {{ request.user.first_name }} {{ request.user.last_name }} 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if request.user.is_staff or request.user.is_superuser %}
              <a class="dropdown-item" href="/admin">Admin</a>
              {% endif %}
            <a class="dropdown-item" href="{% url 'user:profile' username=request.user.username %}">Profile</a>
              <a class="dropdown-item" href="{% url 'user:logout' %}">Log out</a>
            <a class="dropdown-item" href="">Change Password</a> 
        </div>

      </li>
      <li class="nav-item dropdown open notification-toggle">
        <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-bell"></i>
        <span class="badge bg-green">6</span>
        </a>
        <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
          <li class="nav-item">
            <a class="dropdown-item">
            <span class="image"><img src="{{ request.user.image.url }}" alt="Profile Image" /></span>
            <span>
            <span>John Smith</span>
            <span class="time">3 mins ago</span>
            </span>
            <span class="message">
            Film festivals used to be do-or-die moments for movie makers. They were where...
            </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="dropdown-item">
            <span class="image"><img src="{{ request.user.image.url }}" alt="Profile Image" /></span>
            <span>
            <span>John Smith</span>
            <span class="time">3 mins ago</span>
            </span>
            <span class="message">
            Film festivals used to be do-or-die moments for movie makers. They were where...
            </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="dropdown-item">
            <span class="image"><img src="{{ request.user.image.url }}" alt="Profile Image" /></span>
            <span>
            <span>John Smith</span>
            <span class="time">3 mins ago</span>
            </span>
            <span class="message">
            Film festivals used to be do-or-die moments for movie makers. They were where...
            </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="dropdown-item">
            <span class="image"><img src="{{ request.user.image.url }}" alt="Profile Image" /></span>
            <span>
            <span>John Smith</span>
            <span class="time">3 mins ago</span>
            </span>
            <span class="message">
            Film festivals used to be do-or-die moments for movie makers. They were where...
            </span>
            </a>
          </li>
          <li class="nav-item">
            <div class="text-center">
            <a class="dropdown-item">
            <strong>See All Alerts</strong>
            <i class="fa fa-angle-right"></i>
            </a>
            </div>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
     {% endif %}
    </ul>
  </div>
</nav>
