{% extends 'feed/_base.html' %}
        
        {% block title %}
            Login | SMARTLY
        {% endblock %}

{% block feed_content %}

<body class="feed">
{%load static %}
{% load crispy_forms_tags %}
<br/>
    <div class='row'>
        <div class='col-sm-3 col-xs-12' style='background-color:yellow;'>
            <h1>{{ object.user }} </h1>
        </div>
        <div class='col-sm-9 col-xs-12'>
            {{ object.content|safe }}
            {{ object.created_at|timesince }} {% if object.comments.count > 0 %} | {{ object.comments.count }} Comments {% endif %}
            <br/><br/>
            <div class="container comments">
                <div class="">
                    <form class="comment-form" method="POST" action=".">
                        {% csrf_token %}
                        {{comment_form|crispy}}
                        <input name="submit" type="submit" value="Submit">
                    </form>
                </div>
                
                {% for comment in object.comments %}
                <blockquote  class="blockquote">
                    <p class="mb-0">{{ comment.content }}</p>
                    <p class="blockquote-footer">{{ comment.created_at|timesince }} {% if comment.children.count > 0 %} | {{ comment.children.count }} Replies {% endif %} | <a class="comment-reply-btn" href="#">Reply</a></p>
                    <div class="comment-reply">
                        {% for child_comment in comment.children %}
                        <blockquote  class="blockquote">
                            <p class="mb-0"> {{ child_comment.content }}</p>
                           
                           <p class="blockquote-footer">{{ child_comment.created_at|timesince }}</p>
                       </blockquote>
                        {% endfor %}

                        <form class="comment-form" method="POST" action=".">
                            {% csrf_token %}
                            {{comment_form|crispy}}
                            <input type="hidden" name="parent_id" value="{{ comment.id }}">
                            <input name="submit" type="submit" value="Reply">
                        </form>
                    </div>
                </blockquote>



                {% endfor %}

            </div>
        </div>


    </div>
    {% include 'layouts/_footer.html' %} 
    
    <script>
        $(document.body).on("click", ".comment-reply-btn", function(e){
            event.preventDefault()
            $(this).parent().next(".comment-reply").fadeToggle();
        })



    </script>



</body>

{% endblock %}