{% load static %}
<div class="container">
	
	<div class="row">
		<div class="col-md-6">
			<h1>Learn Smartly SMS</h1>
			<p>Learn Smartly SMS is an online and free School Management System (SMS). We help schools' administrations easily manage their entities: Students, parents, attendances, exams-marks, payments and more.</p>

			<a href="https://youtu.be/Ppa_cjxRtog" data-lity><img class="demo-btn"src="{% static 'images/whiteplaybtn.png' %}">Watch a demo</a>
		</div>
		<div class="col-md-6 text-center">
			<img class="banner-img" src="{% static 'images/student-png-algebra-nation-30.png' %}">
		</div>
	</div>	
</div>
