{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="icon" href="{% static 'site-logo/smartlylogo.png' %}">
  <title>Welcome | {{ school.name }}</title>

  <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

  <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

  <link href="{% static 'vendors/nprogress/nprogress.css' %}" rel="stylesheet">

  <link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">

  <link href="{% static 'vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">

  <link href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}" rel="stylesheet" />

  <link href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">

  <link href="{% static 'prebuild/css/custom.min.css' %}" rel="stylesheet">

</head>

	    {% block school_content %}
      {% endblock %}

<footer>
<div class="pull-right">
Learn Smartly - School Management System by <a href="">Smartly Haiti</a>
</div>
<div class="clearfix"></div>
</footer>

</div>
</div>

<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}" type="ceda71ce2078c66b69ab1b8b-text/javascript"></script>

<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.bundle.min.js' %}" type="ceda71ce2078c66b69ab1b8b-text/javascript"></script>

<script src="{% static 'vendors/fastclick/lib/fastclick.js' %}" type="ceda71ce2078c66b69ab1b8b-text/javascript"></script>

<script src="{% static 'vendors/nprogress/nprogress.js' %}" type="ceda71ce2078c66b69ab1b8b-text/javascript"></script>

<script src="{% static 'vendors/Chart.js/dist/Chart.min.js' %}" type="ceda71ce2078c66b69ab1b8b-text/javascript' %}"></script>

<script src="{% static 'vendors/gauge.js/dist/gauge.min.js' %}" type="ceda71ce2078c66b69ab1b8b-text/javascript"></script>

<script src="{% static 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}" type="ceda71ce2078c66b69ab1b8b-text/javascript"></script>

<script src="{% static 'vendors/iCheck/icheck.min.js' %}" type="ceda71ce2078c66b69ab1b8b-text/javascript"></script>

<script src="{% static 'vendors/skycons/skycons.js' %}" type="ceda71ce2078c66b69ab1b8b-text/javascript"></script>

<script src="{% static 'vendors/Flot/jquery.flot.js' %}" type="ceda71ce2078c66b69ab1b8b-text/javascript"></script>
<script src="{% static 'vendors/Flot/jquery.flot.pie.js' %}" type="ceda71ce2078c66b69ab1b8b-text/javascript"></script>
<script src="{% static 'vendors/Flot/jquery.flot.time.js' %}" type="ceda71ce2078c66b69ab1b8b-text/javascript"></script>
<script src="{% static 'vendors/Flot/jquery.flot.stack.js' %}" type="ceda71ce2078c66b69ab1b8b-text/javascript"></script>
<script src="{% static 'vendors/Flot/jquery.flot.resize.js' %}" type="ceda71ce2078c66b69ab1b8b-text/javascript"></script>

<script src="{% static 'vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}" type="ceda71ce2078c66b69ab1b8b-text/javascript"></script>
<script src="{% static 'vendors/flot-spline/js/jquery.flot.spline.min.js' %}" type="ceda71ce2078c66b69ab1b8b-text/javascript"></script>
<script src="{% static 'vendors/flot.curvedlines/curvedLines.js' %}" type="ceda71ce2078c66b69ab1b8b-text/javascript"></script>

<script src="{% static 'vendors/DateJS/build/date.js' %}" type="ceda71ce2078c66b69ab1b8b-text/javascript"></script>

<script src="{% static 'vendors/jqvmap/dist/jquery.vmap.js' %}" type="ceda71ce2078c66b69ab1b8b-text/javascript"></script>
<script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}" type="ceda71ce2078c66b69ab1b8b-text/javascript"></script>
<script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}" type="ceda71ce2078c66b69ab1b8b-text/javascript"></script>

<script src="{% static 'vendors/moment/min/moment.min.js' %}" type="ceda71ce2078c66b69ab1b8b-text/javascript"></script>
<script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}" type="ceda71ce2078c66b69ab1b8b-text/javascript"></script>

<script src="{% static 'prebuild/js/custom.min.js' %}" type="ceda71ce2078c66b69ab1b8b-text/javascript"></script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="ceda71ce2078c66b69ab1b8b-|49" defer="">
  
</script>
</body>
</html>
