{% extends 'school/temp_index.html' %}

	{% block title %}
		Exam Marks' list | {{ site_name }}
	{% endblock %}

        {% block display_table %}
        {% load mathfilters %}
        {% load crispy_forms_tags %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Total number of Exam Marks {{ marks|length }}</strong>
          </div>
          <div class="panel-body">          
              <div id="messages"></div>

                <div class="pull pull-right">
                  <a href="{% url 'school:add_new_mark' %}"><button type="button" class="btn btn-primary">
                       <i class="fa fa-plus"></i> Add Exam Mark
                  </button></a>
                </div>

                <br /> <br /> <br />
                
            <div class="table-responsive">
            <table class="table table-striped table-bordered" id="list_mark">
                <thead>
                   <tr>
                    <th>Action</th>
                    <th>Id</th>
                    <th>Course</th>
                    <th>Base</th>
                    <th>Pupil</th>
                    <th>Term</th>
                    <th>Mark</th>

                  </tr>
                </thead>
                <tbody>
                    {% for m in marks %}
                    <tr>
                      <td><a href="{% url 'school:update_mark' pk=m.id %}" >edit</a></td>
                      <td><a href="{% url 'school:show_detail_mark' pk=m.id %}">{{ m.id }}</a></td>
                      <td>{{ m.course }}</td>
                      <td>{{ m.course.base }}</td>
                      <td>{{ m.pupil }}</td>
                      <td>{{ m.term }}</td>
                      <td>{{ m.mark }}</td>
                  </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
          </div>
        </div>
        {% endblock %}		
