{% extends 'layouts/base.html' %}

        {% block title %}
            Welcome | {{ site_name }}
        {% endblock %}

{% block maincontent %}
        {% load static %}
        {% load crispy_forms_tags %}
    <body class="index">
        <section class="nav-bar">
        {% include 'layouts/_top_nav.html' %}
        </section>
	    <div class="container">
	        <div class="row">
	            <div class="col-md-6">
	                <h1>Post registration info</h1><hr>
                  {{ message }}

	            </div>
	        </div>
	    </div>

      {% include 'layouts/_right.html' %}
      {% include 'layouts/_footer.html' %}
    </body>

{% endblock %}
